@model IEnumerable<TestMVC.Models.CompanyModel>

    @{
    ViewData["Title"] = "Company Page";
    }
    <!--
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    -->

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th colspan="2">Action</th>
        </tr>
        @foreach (var d in Model)
        {
        <tr>
            <td>@d.Id</td>
            <td>@d.Name</td>
            <td>@d.City</td>
            <td>
                <form asp-action="EditCompany" method="post">
                    <input type="submit" value="Edit" />
                    @Html.Hidden("companyId", @d.Id)
                </form>
            </td>
            <td>
                @*<form asp-action="DeleteCompany" method="post">
                    <input type="submit" value="Delete" />
                    @Html.Hidden("companyId", @d.Id)
                </form>*@
                <input type="button" value="Delete" onclick="location.href='@Url.Action("DeleteCompany", "Company" , new { companyId=d.Id })'" />
            </td>
        </tr>
        }
    </table>
