@using Microsoft.AspNetCore.Http

@model IEnumerable<TestMVC.Models.BookModel>

@{
    ViewData["Title"] = "Home Page";
}
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Company</th>
        <th colspan="2">Action</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.Id</td>
            <td>@d.Title</td>
            <td>@d.Genre</td>
            <td>@d.Price</td>
            <td>@d.Company</td>
            <td>
                <form asp-action="OpenEditBookPage" method="post">
                    <input type="submit" value="Edit" />
                    @Html.Hidden("bookId", @d.Id)
                </form>
            </td>
            <td>
                @*<form asp-action="DeleteBook" method="post">
                        <input type="submit" value="Delete" />
                        @Html.Hidden("bookId", @d.Id)
                    </form>*@
                <input type="button" value="Delete" onclick="location.href='@Url.Action("DeleteBook", "Home", new { bookId = d.Id })'" />
            </td>
        </tr>
    }
</table>
@if (@Context.Session.GetString("Unauthorize")?.Length > 0)
{
    @Html.Raw(@Context.Session.GetString("Unauthorize"))
}